div.art {
  /* object-fit: contain; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

img {
  /* object-fit: contain; */
  /* width: 90vw; */
  height: 90vh;
  /* width: 99%; */
}

.navbar {
  /* object-fit: contain; */
  display: flex;
  align-items: center;
  justify-content: center;
}

